{% extends "layout.twig" %}
{% block body %}

{% set errorMap = {
    (constant('\\Leif\\Api\\InstallAction::ERR_MISSING_USERNAME')): 'Användarnamn saknas.',
    (constant('\\Leif\\Api\\InstallAction::ERR_MISSING_PASSWORD')): 'Lösenord saknas.',
    (constant('\\Leif\\Api\\InstallAction::ERR_PASSWORD_MISMATCH')): 'Lösenorden matchar inte.',
} %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="text-center">
                <img class="m-3" style="border-radius: 50%; width: 25%" src="/leif.jpg" />
            </div>
            <h3>Installera Leif</h3>

            {% if errors %}

            <div class="alert alert-danger" role="alert">
                <ul class="mb-0">
                    {% for error in errors %}
                    <li>{{ errorMap[error] }}</li>
                    {% endfor %}
                </ul>
            </div>

            {% endif %}

            <form method="POST" target="">
                <div class="mb-3">
                    <label class="form-label">Välj användarnamn</label>
                    <input
                            class="form-control form-control-lg"
                            placeholder="Användarnamn"
                            name="username"
                            type="text"
                            value="{{ username }}"
                    />
                </div>
                <div class="mb-3">
                    <label class="form-label">Välj lösenord</label>
                    <input
                            class="form-control form-control-lg"
                            placeholder="Lösenord"
                            name="password"
                            type="password"
                            value=""
                    />
                </div>
                <div class="mb-3">
                    <label class="form-label">Bekräfta lösenord</label>
                    <input
                            class="form-control form-control-lg"
                            placeholder="Bekräfta lösenord"
                            name="confirm_password"
                            type="password"
                            value=""
                    />
                </div>
                <div class="d-grid">
                    <button class="btn btn-lg btn-primary">OK</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
